.wd-bg-color-black {
    background-color: black;
}

.wd-bg-color-darkgray {
    background-color: darkgray;
}

.wd-fg-color-other-link {
    color: rgb(110, 118, 125);
}

.wd-fg-color-highlight-link {
    color: rgb(29, 161, 242);
}

.wd-fg-color-white {
    color: white;
}

.wd-fg-color-border {
    color: rgb(47, 51, 54);
}

.wd-border {
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
    margin-left: 16px;
}

.wd-offset {
    margin-left: 16px;
}

.wd-search-bar {
    width: 90%;
    height: 25px;
    border-color: white;
    border-radius: 15px;
    margin-top: 5px;
}

.wd-search-settings-img {
    position: absolute;
    top: 20px;
    right: 12px;
    height: 20px;
    width: 20px;
}

.wd-none-decoration {
    text-decoration: none;
}

.wd-link-font {
    font-size: 15px;
}

.wd-links-padding {
    padding: 16px;
}

.wd-link-2 {
    position: relative;
    left: 10%;
}

.wd-link-3 {
    position: relative;
    left: 20%;
}

.wd-link-4 {
    position: relative;
    left: 30%;
}

.wd-link-5 {
    position: relative;
    left: 40%;
}

.wd-link-6 {
    position: relative;
    left: 50%;
}

.wd-text-font-13 {
    font-size: 13px;
}

a {
    color: rgb(110, 118, 125);
    font-size: 15px;
}

.wd-float-right {
    float: right;
    margin-right: 16px;
}

.wd-float-left {
    float: left;
}

.wd-img-default {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-right: 16px;
}

.wd-flow-hidden {
    overflow:hidden
}

.wd-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}